*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: snow;
}
body header{
    width: 100%;
    display: flex;
    justify-content: center;
}
body header .headerTitle{
    width: 30%;
    padding: 20px 0px;
}
body main{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
body main ul{
    width: 100%; 
    text-align: center;
    display: flex;
    justify-content: center;
}
body main ul li{
    width: 100%;
    display: flex;
    justify-content: center;
}
body main ul li p{
    margin-top: 3px;
}
.check{
    transform: rotate(45deg);
    color: green;
    font-weight: bold;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid green;
    border-radius: 50%;
}